# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Scientists.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.

Data Science Tools:

|Data Science Tools|
| -----------------|
|   SAS            |
|   Apache Spark   |  
|   BigML          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

# result : 17

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60  

print(hours)

3.3333333333333335

## Author:

Afiq